@tailwind base;
@tailwind components;
@tailwind utilities;



/* Hide scrollbar for webkit browsers (Chrome, Safari) */
.category-button-group::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge */
.category-button-group {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}